<div class="container">
  <div class="jumbotron">
    <h1>Examen de 2do Bimestre</h1>

    <h2>Santiago Pazmiño </h2>
    <a href="/user/new" class="btn btn-lg btn-success">Crear Usuario</a>
  </div>
</div>
